<widget id="com.audioplexity.map" version="0.0.1">
	<name>Map By Audioplexity</name>
	<description>This app will allow you to search a database of maps to theme parks, malls, national parks, and more.</description>
	<author href="http://audioplexity.com" email="support@audioplexity.com">Audioplexity Team</author>
	<content src="index.html"/>
	<access origin="*" />
</widget>